@page
@model JewelrySalesStoreRazorWebApp.Pages.CompanyPage.IndexModel

@{
    ViewData["Title"] = "Company";
}

<h1>Company</h1>

<div class="row mt-5">
    <div class="col-md-2">
        <p>
            <a class="btn btn-primary text-white" style="text-decoration:none;" asp-page="Create">Create New</a>
        </p>
    </div>
</div>

<form asp-page="./Index" method="get" class="row mt-3">
    <div class="col-md-6 text-right">
        <p>
            Search by Name: <input type="text" asp-for="SearchName" />
            <input type="submit" value="Filter" />
        </p>
    </div>

    <div class="col-md-6 text-right">
        <p>
            Search by Phone: <input type="text" asp-for="SearchPhone" />
            <input type="submit" value="Filter" />
        </p>
    </div>

    <div class="col-md-6 text-right">
        <p>
            Search by Date:
            From: <input type="date" asp-for="StartDate" />
            To: <input type="date" asp-for="EndDate" />
            <input type="submit" value="Filter" />
        </p>
    </div>

    <div class="form-check col-md-2 pt-1">
        <input class="form-check-input" type="checkbox" id="isActiveCheckbox" asp-for="IsActive" />
        <label class="form-check-label" for="isActiveCheckbox">
            Filter Active
        </label>
    </div>

    <div class="form-check col-md-4 pt-1">
        <input class="form-check-input" type="checkbox" id="isInactiveCheckbox" asp-for="IsInactive" />
        <label class="form-check-label" for="isInactiveCheckbox">
            Filter Inactive
        </label>
    </div>
</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Description</th>
            <th scope="col">Website</th>
            <th scope="col">Foundation</th>
            <th scope="col">Active</th>
            @* <th scope="col">Notes</th> *@
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Company != null)
        {
            @foreach (var item in Model.Company)
            {
                <tr>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.CompanyPhone)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.CompanyAddress)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.CompanyDescription)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Website)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.FoundationDate)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    @* <td scope="row">
            @Html.DisplayFor(modelItem => item.Notes)
            </td> *@
                    <td>
                        <a class="btn btn-success text-white" style="text-decoration:none;" asp-page="./Edit" asp-route-id="@item.CompanyId">Edit</a> |
                        <a class="btn btn-secondary text-white" style="text-decoration:none;" asp-page="./Details" asp-route-id="@item.CompanyId">Details</a> |
                        <a class="btn btn-danger text-white" style="text-decoration:none;" asp-page="./Delete" asp-route-id="@item.CompanyId">Delete</a> |
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<nav aria-label="Page navigation example" class="d-flex justify-content-end">
    <ul class="pagination">
        <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageIndex="@(Model.PageIndex - 1)"
               asp-route-SearchName="@Model.SearchName" asp-route-SearchPhone="@Model.SearchPhone"
               asp-route-StartDate="@Model.StartDate" asp-route-EndDate="@Model.EndDate"
               asp-route-IsActive="@Model.IsActive" asp-route-IsInactive="@Model.IsInactive"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                <a class="page-link" asp-page="./Index" asp-route-PageIndex="@i"
                   asp-route-SearchName="@Model.SearchName" asp-route-SearchPhone="@Model.SearchPhone"
                   asp-route-StartDate="@Model.StartDate" asp-route-EndDate="@Model.EndDate"
                   asp-route-IsActive="@Model.IsActive" asp-route-IsInactive="@Model.IsInactive">@i</a>
            </li>
        }
        <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageIndex="@(Model.PageIndex + 1)"
               asp-route-SearchName="@Model.SearchName" asp-route-SearchPhone="@Model.SearchPhone"
               asp-route-StartDate="@Model.StartDate" asp-route-EndDate="@Model.EndDate"
               asp-route-IsActive="@Model.IsActive" asp-route-IsInactive="@Model.IsInactive"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#isActiveCheckbox').change(function () {
                $('form').submit();
            });

            $('#isInactiveCheckbox').change(function () {
                $('form').submit();
            });
        });

    </script>
}
