@page
@model JewelrySalesStoreRazorWebApp.Pages.PromotionPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Promotion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.PromotionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.PromotionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.PromotionCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.PromotionCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.DiscountPercentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.DiscountPercentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.Condition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.Condition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.IsActive)
        </dt>
        <dd class="col-sm-10">
            @((Model.Promotion.IsActive ?? false) ? "On" : "Off")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.Notes)    
        </dd>
    </dl>
</div>

<div class="form-group">
    <a asp-page="Edit" asp-route-id="@Model.Promotion.PromotionId" class="btn btn-success text-white">Edit</a> |
    <a style="text-decoration: none;" class="btn btn-secondary text-white" asp-page="Index">Back</a>
</div>