
@page
@model JewelrySalesStoreRazorWebApp.Pages.PromotionPage.IndexModel

@{
    ViewData["Title"] = "Index";


    if (ViewData["ShowNavBar"] == null)
    {
        ViewData["ShowNavBar"] = true;
    }

}


<h1>Promotion</h1>

<div class="row mt-5">
    <div class="col-md-2">
        <p>
            <a class="btn btn-primary text-white" style="text-decoration:none;" asp-page="Create">Create New</a>
        </p>
    </div>
</div>

<form asp-page="./Index" method="get" class="row mt-3">
    <div class="form-check col-md-9 pt-2 d-flex align-items-center">
        <label class="col-md-2">Search By Name: </label>
        <input class="col-md-6" type="text" asp-for="SearchName" />
    </div>

    <div class="form-check col-md-7 pt-2">
        <label style="margin-right: 19px">
            Search By Discount:
        </label>
        <label>
            From
        </label>

        <input type="number" min=0 step="any" asp-for="DiscountFrom" placeholder="0" />
        <label style="margin-left: 22px">
            To
        </label>
        <input type="number" min=0 step="any" asp-for="DiscountTo" placeholder="0" />

    </div>

    <div class="form-check col-md-1 pt-2">
        <label class="form-check-label" for="isActiveCheckbox">
            Active: On
        </label>
        <input class="form-check-input" type="checkbox" asp-for="IsActive" />
    </div>

    <div class="form-check col-md-1 pt-2">
        <label class="form-check-label" for="isInactiveCheckbox">
            Active: Off
        </label>
        <input class="form-check-input" type="checkbox" asp-for="IsInactive" />
    </div>

    <div class="form-check col-md-1 pt-1">
        <input class="btn btn-primary text-white" type="submit" value="Filter" />

    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Promotion[0].PromotionName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Promotion[0].PromotionCode)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Promotion[0].DiscountPercentage)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Promotion[0].StartDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Promotion[0].EndDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Promotion[0].Condition)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Promotion[0].Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Promotion[0].IsActive)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Promotion[0].Notes)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Promotion)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.PromotionName)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.PromotionCode)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.DiscountPercentage)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td scope="row">
                    @(item.IsActive.HasValue && item.IsActive.Value ? "On" : "Off")
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a class="btn btn-success text-white" style="text-decoration:none;" asp-page="./Edit" asp-route-id="@item.PromotionId">Edit</a> |
                    <a class="btn btn-secondary text-white" style="text-decoration:none;" asp-page="./Details" asp-route-id="@item.PromotionId">Details</a> |
                    <a class="btn btn-danger text-white" style="text-decoration:none;" asp-page="./Delete" asp-route-id="@item.PromotionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<nav aria-label="Page navigation example" class="d-flex justify-content-end">
    <ul class="pagination">
        <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageIndex="@(Model.PageIndex - 1)"
               asp-route-SearchName="@Model.SearchName"
               asp-route-DiscountFrom="@Model.DiscountFrom" asp-route-DiscountTo="@Model.DiscountTo"
               asp-route-IsActive="@Model.IsActive" asp-route-IsInactive="@Model.IsInactive"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                <a class="page-link" asp-page="./Index" asp-route-PageIndex="@i"
                   asp-route-SearchName="@Model.SearchName"
                   asp-route-DiscountFrom="@Model.DiscountFrom" asp-route-DiscountTo="@Model.DiscountTo"
                   asp-route-IsActive="@Model.IsActive" asp-route-IsInactive="@Model.IsInactive">@i</a>
            </li>
        }
        <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageIndex="@(Model.PageIndex + 1)"
               asp-route-SearchName="@Model.SearchName"
               asp-route-DiscountFrom="@Model.DiscountFrom" asp-route-DiscountTo="@Model.DiscountTo"
               asp-route-IsActive="@Model.IsActive" asp-route-IsInactive="@Model.IsInactive"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#isActiveCheckbox').change(function () {
                $('form').submit();
            });

            $('#isInactiveCheckbox').change(function () {
                $('form').submit();
            });
        });
    </script>
}