@page
@model JewelrySalesStoreRazorWebApp.Pages.OrderPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Order.Customer" class="control-label"></label>
                <select asp-for="Order.CustomerId" class="form-control" asp-items="@Model.CustomersNameSelectList" id="CustomerSelect">
                    <option value="">-- Select Customer --</option>
                </select>
                <span asp-validation-for="Order.CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.Date" class="control-label"></label>
                <input asp-for="Order.Date" class="form-control"  value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"  readonly/>
                <span asp-validation-for="Order.Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.Company" class="control-label"></label>
                <select asp-for="Order.CompanyId" class="form-control" asp-items="@Model.CompaniesSelectList">
                    <option value="">-- Select Company --</option>
                </select>
                <span asp-validation-for="Order.CompanyId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.PaymentMethod" class="control-label"></label>
                <select asp-for="Order.PaymentMethod" class="form-control">
                    <option value="">-- Select Payment Method --</option>
                    <option value="PayPal">PayPal</option>
                    <option value="Bank Transfer">Bank Transfer</option>
                    <option value="Credit Card">Credit Card</option>
                </select>
                <span asp-validation-for="Order.PaymentMethod" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.ShippingMethod" class="control-label"></label>
                <select asp-for="Order.ShippingMethod" class="form-control">
                    <option value="">-- Select Shipping Method --</option>
                    <option value="Standard Shipping">Standard Shipping</option>
                    <option value="Express Shipping">Express Shipping</option>
                    <option value="Expedited Shipping">Expedited Shipping</option>
                    <option value="Freight Shipping">Freight Shipping</option>
                    <option value="Rail Shipping">Rail Shipping</option>
                    <option value="International Shipping">International Shipping</option>
                    <option value="Local Delivery">Local Delivery</option>
                </select>
                <span asp-validation-for="Order.ShippingMethod" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="Order.CustomerAddress" class="control-label"></label>
                <input asp-for="Order.CustomerAddress" class="form-control" id="CustomerAddress" readonly="readonly" />
                <span asp-validation-for="Order.CustomerAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.CustomerBankAccount" class="control-label"></label>
                <input asp-for="Order.CustomerBankAccount" class="form-control"
                       pattern="\d{12}" maxlength="12" minlength="12"
                       title="Customer Bank Account must be exactly 12 digits." />
                <span asp-validation-for="Order.CustomerBankAccount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="@Model.ProductsSelectList" id="ProductSelect">
                    <option value="">-- Select Product--</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" min="0" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PromotionCode" class="control-label"></label>
                <select asp-for="PromotionId" class="form-control" asp-items="@Model.PromotionsSelectList" id="PromotionSelect">
                    <option value="">-- Select Promotion--</option>
                </select>
                <span asp-validation-for="PromotionId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.Notes" class="control-label"></label>
                <input asp-for="Order.Notes" class="form-control" />
                <span asp-validation-for="Order.Notes" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="PromotionCode" id="PromotionCode" />

           <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-success" />
                <a style="text-decoration: none;" class="btn btn-secondary text-white" asp-page="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#CustomerSelect').change(function () {
                var customerId = $(this).val();
                if (customerId) {
                    $.ajax({
                        url: '@Url.Page("/OrderPage/GetCustomerAddress")',
                        type: 'GET',
                        data: { customerId: customerId },
                        success: function (data) {
                            $('#CustomerAddress').val(data.customerAddress);
                        },
                        error: function () {
                            alert('Error retrieving customer address.');
                        }
                    });
                } else {
                    $('#CustomerAddress').val('');
                }
            });

            $('#ProductSelect, #Quantity, #PromotionSelect').change(function () {
                var promotionCode = $('#PromotionSelect option:selected').text();
                $('#PromotionCode').val(promotionCode);
                calculateTotalPrice();
            });

            function calculateTotalPrice() {
                var productId = $('#ProductSelect').val();
                var quantity = $('#Quantity').val();
                var promotionId = $('#PromotionSelect').val();

                if (productId && quantity) {
                    $.ajax({
                        url: '@Url.Page("/OrderPage/CalculateTotalPrice")',
                        type: 'GET',
                        data: {
                            productId: productId,
                            quantity: quantity,
                            promotionId: promotionId
                        },
                        success: function (data) {
                            $('#TotalPrice').val(data.totalPrice);
                        },
                        error: function () {
                            alert('Error calculating total price.');
                        }
                    });
                } else {
                    $('#TotalPrice').val('');
                }
            }
        });
    </script>
}
