@page
@model JewelrySalesStoreRazorWebApp.Pages.OrderPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CustomerId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Date)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalPrice)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CompanyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CompanyId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Status)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PaymentMethod)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShippingMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShippingMethod)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CustomerAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CustomerAddress)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CustomerBankAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CustomerBankAccount)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Order.OrderId">Edit</a> |
    <a style="text-decoration: none;" class="btn btn-secondary text-white" asp-page="./Index">Back</a>
</div>
