@page
@model JewelrySalesStoreRazorWebApp.Pages.OrderPage.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

    if (ViewData["ShowNavBar"] == null)
    {
        ViewData["ShowNavBar"] = true;
    }
}

<h1>Order</h1>

<div class="row mt-5">
    <div class="col-md-2">
        <p>
            <a class="btn btn-primary text-white" style="text-decoration:none;" asp-page="Create">Create New</a>
        </p>
    </div>
</div>

<form asp-page="./Index" method="get" class="row mt-3">
    <div class="form-check col-md-4 pt-1 d-flex align-items-center">
        <label class="col-md-4">Search By Customer Address: </label>
        <input class="col-md-7" type="text" asp-for="SearchCustomerAddress" />
    </div>

    <div class="form-check col-md-4 pt-1 d-flex align-items-center">
        <label class="col-md-4">Search By Shipping Method: </label>
        <select asp-for="SearchShippingMethod" class="form-control">
            <option value="">-- Select Shipping Method --</option>
            <option value="Standard Shipping">Standard Shipping</option>
            <option value="Express Shipping">Express Shipping</option>
            <option value="Expedited Shipping">Expedited Shipping</option>
            <option value="Freight Shipping">Freight Shipping</option>
            <option value="Rail Shipping">Rail Shipping</option>
            <option value="International Shipping">International Shipping</option>
            <option value="Local Delivery">Local Delivery</option>
        </select>
    </div>

    <div class="form-check col-md-1 pt-2">
        <label class="form-check-label" for="isActiveCheckbox">
            Active
        </label>
        <input class="form-check-input" type="checkbox" asp-for="IsActive" />
    </div>

    <div class="form-check col-md-1 pt-2">
        <label class="form-check-label" for="isInactiveCheckbox">
            Inactive
        </label>
        <input class="form-check-input" type="checkbox" asp-for="IsInactive" />
    </div>

    <div class="form-check col-md-1 pt-1">
        <input class="btn btn-primary text-white" type="submit" value="Filter" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CustomerBankAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShippingMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CustomerAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Order != null)
        {
        @foreach (var item in Model.Order)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerBankAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                    <td scope="row">
                        <a class="btn btn-success text-white" style="text-decoration: none;" asp-page="./Edit" asp-route-id="@item.OrderId">Edit</a> |
                        <a class="btn btn-secondary text-white" style="text-decoration: none;" asp-page="./Details" asp-route-id="@item.OrderId">Details</a> |
                        <a class="btn btn-danger text-white" style="text-decoration: none;" asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>
                    </td>
            </tr>
        }
        }
    </tbody>
</table>

<nav aria-label="Page navigation example" class="d-flex justify-content-end">
    <ul class="pagination">
        <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageIndex="@(Model.PageIndex - 1)"
               asp-route-SearchCustomerAddress="@Model.SearchCustomerAddress" asp-route-SearchShippingMethod="@Model.SearchShippingMethod"
               asp-route-IsActive="@Model.IsActive" asp-route-IsInactive="@Model.IsInactive"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                <a class="page-link" asp-page="./Index" asp-route-PageIndex="@i"
                   asp-route-SearchCustomerAddress="@Model.SearchCustomerAddress" asp-route-SearchShippingMethod="@Model.SearchShippingMethod"
                   asp-route-IsActive="@Model.IsActive" asp-route-IsInactive="@Model.IsInactive">@i</a>
            </li>
        }
        <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageIndex="@(Model.PageIndex + 1)"
               asp-route-SearchCustomerAddress="@Model.SearchCustomerAddress" asp-route-SearchShippingMethod="@Model.SearchShippingMethod"
               asp-route-IsActive="@Model.IsActive" asp-route-IsInactive="@Model.IsInactive"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#isActiveCheckbox').change(function () {
                $('form').submit();
            });

            $('#isInactiveCheckbox').change(function () {
                $('form').submit();
            });
        });

    </script>
}
