@page
@model JewelrySalesStoreRazorWebApp.Pages.ProductPage.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

    if (ViewData["ShowNavBar"] == null)
    {
        ViewData["ShowNavBar"] = true;
    }
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["AlertMessage"]
    </div>
}

<h1>Product</h1>

<div class="row mt-5">
    <div class="col-md-2">
        <p>
            <a class="btn btn-primary text-white" style="text-decoration:none;" asp-page="Create">Create New</a>
        </p>
    </div>
</div>

<form class="row mt-2">
    <div class="form-check col-md-4 pt-1 d-flex align-items-center">
        <label class="col-md-4">Search By Name: </label>
        <input class="col-md-7" type="text" asp-for="SearchName" />
    </div>

    <div class="form-check col-md-1 pt-2">
        <label class="form-check-label" for="isActiveCheckbox">
            Active
        </label>
        <input class="form-check-input" type="checkbox" asp-for="IsActive" />
    </div>

    <div class="form-check col-md-1 pt-2">
        <label class="form-check-label">
            NotActive
        </label>
        <input class="form-check-input" type="checkbox" asp-for="IsNotActive" />
    </div>

    <div class="form-check col-md-7 pt-2">
        <label style="margin-right: 19px">
            Search By Price: 
        </label>
        <label>
            From
        </label>
        <input type="number" step="any" min=0 asp-for="PriceFrom" placeholder="0" />
        <label style="margin-left: 45px">
            To
        </label>
        <input type="number" step="any" min=0 asp-for="PriceTo" placeholder="0" />
    </div>

    <div class="form-check col-md-1 pt-1">
        <input class="btn btn-primary text-white" type="submit" value="Filter" />
    </div>
</form>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductList[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductList[0].Color)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ProductList[0].Weight)
            </th>
            <th>
                <a asp-page="./Index" asp-route-SortBy="@Model.SortBy">Price</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductList[0].IsActive)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ProductList[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductList[0].Promotion)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductList)
        {
            <tr>
                <td>
                    <img src="@Url.Page("/ProductPage/Index", "Image", new { id = item.ProductId })" alt="Product Image" style="width:100px;height:auto;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (item.IsActive == true)
                    {
                        @Html.Raw("Còn Hàng")
                    }
                    else
                    {
                        @Html.Raw("Hết Hàng")
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Promotion.PromotionName)
                </td>
                <td>
                    <a class="btn btn-success text-white" style="text-decoration:none;" asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a class="btn btn-secondary text-white" style="text-decoration:none;" asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                    <a class="btn btn-danger text-white" style="text-decoration:none;" asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a> 
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example" class="d-flex justify-content-end">
    <ul class="pagination">
        <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageIndex="@(Model.PageIndex - 1)"
               asp-route-SearchName="@Model.SearchName"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                <a class="page-link" asp-page="./Index" asp-route-PageIndex="@i"
                   asp-route-SearchName="@Model.SearchName">@i</a>
            </li>
        }
        <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageIndex="@(Model.PageIndex + 1)"
               asp-route-SearchName="@Model.SearchName"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>