@page
@model JewelrySalesStoreRazorWebApp.Pages.CategoryModel
@{
    ViewData["Title"] = "Category page";
    var categories = Model.Categories;
}

<div class="text-center">
    <h1 class="display-6"> Category management</h1>
</div>

<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">Code</th>
                    <th class="card-title text-center">Name</th>
                    <th class="card-title text-center">Action</th>
                   
                </tr>
            </thead>
            <tbody class="tblcurrencyList">
                @if (categories.Count > 0)
                {
                    foreach (var category in categories)
                    {
                        <tr>
                            <td>@category.CategoryId</td>
                            <td>@category.Name</td>
                            <td>
                                <button type="button" class="btn btn-success" onclick="edit('@category.CategoryId');">Edit</button>
                                <button type="button" class="btn btn-danger" onclick="remove('@category.CategoryId');">Remove</button>
                            </td>
                            
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="currencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="currencyModalLabel">Category Transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="currencyModalContent"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="1">Name</label>
                                    <input asp-for="Category.Name" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="CustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Update">
                @Html.AntiForgeryToken()
                <input asp-for="Category.CategoryId" type="hidden" id="CategoryId" />

                <div class="modal-header">
                    <h5 class="modal-title" id="CustomerModalLabel">Edit Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="CategoryId">CategoryId</label>
                                    <input id="CategoryId" class="form-control" readonly />
                                </div>
                                <div class="col-md-6">
                                    <label for="CategoryName">CategoryName</label>
                                    <input id="CategoryName" asp-for="Category.Name" class="form-control" />
                                    <span asp-validation-for="Category.Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="RemoveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Delete">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Category.CategoryId" id="CategoryIdRemove" />

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Remove Confirm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this category?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        function add() {
            $('#AddModal').modal('show');
        }

        function edit(categoryId) {
            
            $.ajax({
                url: '@Url.Page("Category", "Update")',
                type: 'GET',
                data: { categoryId: categoryId },
                success: function (data) {
                    
                    $('#EditModal #CategoryId').val(data.categoryId);
                    $('#EditModal #CategoryName').val(data.name);
                   
                    $('#EditModal').modal('show');
                }
            });
        }

        function remove(categoryId) {
            document.getElementById('CategoryIdRemove').value = categoryId;
            $('#RemoveModal').modal('show');
        }

    </script>
}

