@page
@model JewelrySalesStoreRazorWebApp.Pages.CompanyModel
@{
    ViewData["Title"] = "Company Page";
    var companies = Model.Companies;
}

<div class="text-center">
    <h1 class="display-6">Company Management</h1>
</div>

<div class="row">
    <div class="col-md-6 text-start">
        @if (TempData["ErrorMessage"] != null)
        {
            <span class="text-danger">@TempData["ErrorMessage"]</span>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            <span class="text-success">@TempData["SuccessMessage"]</span>
        }
    </div>

    <div class="col-md-6 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">Add</button>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">Code</th>
                    <th class="card-title text-center">Name</th>
                    <th class="card-title text-center">Phone</th>
                    <th class="card-title text-center">Address</th>
                    <th class="card-title text-center">Description</th>
                    <th class="card-title text-center">Actions</th>
                </tr>
            </thead>
            <tbody class="tblcompanyList">
                @if (companies.Count > 0)
                {
                    foreach (var company in companies)
                    {
                        <tr>
                            <td class="text-center">@company.CompanyId</td>
                            <td class="text-center">@company.CompanyName</td>
                            <td class="text-center">@company.CompanyPhone</td>
                            <td class="text-center">@company.CompanyAddress</td>
                            <td class="text-center">@company.CompanyDescription</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-success" onclick="edit('@company.CompanyId')">Edit</button>
                                <button type="button" class="btn btn-danger" onclick="deleteCompany('@company.CompanyId')">Delete</button>
                            </td>
                        </tr>
                    }
                }

                else
                {
                    <tr>
                        <td colspan="6" class="text-center">No companies available</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Add Company Modal -->
<div class="modal fade" id="addCompanyModal" tabindex="-1" aria-labelledby="companyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addCompanyForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="companyModalLabel">Add Company</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="CompanyName">Name</label>
                        <input asp-for="Company.CompanyName" class="form-control" />
                        <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="CompanyPhone">Phone</label>
                        <input asp-for="Company.CompanyPhone" class="form-control" />
                        <span asp-validation-for="Company.CompanyPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="CompanyAddress">Address</label>
                        <input asp-for="Company.CompanyAddress" class="form-control" />
                        <span asp-validation-for="Company.CompanyAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="CompanyDescription">Description</label>
                        <input asp-for="Company.CompanyDescription" class="form-control" />
                        <span asp-validation-for="Company.CompanyDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Edit Company Modal -->
<div class="modal fade" id="editCompanyModal" tabindex="-1" aria-labelledby="companyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Update" id="editCompanyForm">
                @Html.AntiForgeryToken()
                <input asp-for="Company.CompanyId" type="hidden" id="editCompanyId" />

                <div class="modal-header">
                    <h5 class="modal-title" id="companyModalLabel">Edit Company</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editCompanyId">Company ID</label>
                        <input id="editCompanyId" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label for="editCompanyName">Name</label>
                        <input asp-for="Company.CompanyName" class="form-control" id="editCompanyName" />
                        <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="editCompanyPhone">Phone</label>
                        <input asp-for="Company.CompanyPhone" class="form-control" id="editCompanyPhone" />
                        <span asp-validation-for="Company.CompanyPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="editCompanyAddress">Address</label>
                        <input asp-for="Company.CompanyAddress" class="form-control" id="editCompanyAddress" />
                        <span asp-validation-for="Company.CompanyAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="editCompanyDescription">Description</label>
                        <input asp-for="Company.CompanyDescription" class="form-control" id="editCompanyDescription" />
                        <span asp-validation-for="Company.CompanyDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Company Modal -->
<div class="modal fade" id="removeCompanyModal" tabindex="-1" aria-labelledby="companyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Delete">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Company.CompanyId" id="CompanyIdRemove" />

                <div class="modal-header">
                    <h5 class="modal-title" id="companyModalLabel">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this company?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function add() {
            $('#addCompanyModal').modal('show');
        }

        function edit(companyId) {
            $.ajax({
                url: '@Url.Page("/Company", "Update")',
                type: 'GET',
                data: { companyId: companyId },
                success: function (data) {
                    $('#editCompanyModal #editCompanyId').val(data.companyId);
                    $('#editCompanyModal #editCompanyName').val(data.companyName);
                    $('#editCompanyModal #editCompanyPhone').val(data.companyPhone);
                    $('#editCompanyModal #editCompanyAddress').val(data.companyAddress);
                    $('#editCompanyModal #editCompanyDescription').val(data.companyDescription);

                    $('#editCompanyModal').modal('show');
                }
            });
        }

        function deleteCompany(companyId) {
            document.getElementById('CompanyIdRemove').value = companyId;
            $('#removeCompanyModal').modal('show');
        }
    </script>
}
