@page
@model JewelrySalesStoreRazorWebApp.Pages.CustomerModel
@{
    ViewData["Title"] = "Customer category page";
    var customers = Model.Customers;
}

<div class="text-center">
    <h1 class="display-6">Customer Management</h1>
</div>


<div class="row">

    <div class="col-md-6 text-start">
        @if (TempData["ErrorMessage"] != null)
        {
            <span class="text-danger">@TempData["ErrorMessage"]</span>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            <span class="text-success">@TempData["SuccessMessage"]</span>
        }
    </div>

    <div class="col-md-6 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">ID</th>
                    <th class="card-title text-center">CustomerName</th>
                    <th class="card-title text-center">BirthDate</th>
                    <th class="card-title text-center">Phone</th>
                    <th class="card-title text-center">Adress</th>
                    <th class="card-title text-center">Point</th>
                    <th class="card-title text-center">Active</th>
                </tr>
            </thead>
            <tbody class="tblcurrencyList">
                @if (customers.Count > 0)
                {
                    foreach (var customer in customers)
                    {
                        <tr>
                            <td>@customer.CustomerId</td>
                            <td>@customer.CustomerName</td>
                            <td>@Html.DisplayFor(model => customer.CustomerBirthDate)</td>
                            <td>@customer.CustomerPhone</td>
                            <td>@customer.CustomerAddress</td>
                            <td>@customer.CustomerPoint</td>
                            <td>
                                <button type="button" class="btn btn-success" onclick=" edit('@customer.CustomerId')">Edit</button>
                                <button type="button" class="btn btn-danger" onclick="  remove('@customer.CustomerId')">Remove</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="CustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="CustomerModalLabel">New Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="CustomerModalContent"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CustomerName</label>
                                    <input asp-for="Customer.CustomerName" class="form-control" />
                                    <span asp-validation-for="Customer.CustomerName" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">BirthDate</label>
                                    <input asp-for="Customer.CustomerBirthDate" class="form-control" />
                                    <span asp-validation-for="Customer.CustomerBirthDate" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="1">Phone</label>
                                    <input asp-for="Customer.CustomerPhone" class="form-control" />
                                    <span asp-validation-for="Customer.CustomerPhone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">Address</label>
                                    <input asp-for="Customer.CustomerAddress" class="form-control" />
                                    <span asp-validation-for="Customer.CustomerAddress" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="1">Point</label>
                                    <input asp-for="Customer.CustomerPoint" class="form-control" />
                                    <span asp-validation-for="Customer.CustomerPoint" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="CustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Update">
                @Html.AntiForgeryToken()
                <input asp-for="Customer.CustomerId" type="hidden" id="CustomerId" />

                <div class="modal-header">
                    <h5 class="modal-title" id="CustomerModalLabel">Edit Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="CustomerId">CustomerId</label>
                                    <input id="CustomerId" class="form-control" readonly />
                                </div>
                                <div class="col-md-6">
                                    <label for="CustomerName">CustomerName</label>
                                    <input id="CustomerName" asp-for="Customer.CustomerName" class="form-control" />
                                    <span asp-validation-for="Customer.CustomerName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="CustomerBirthDate">BirthDate</label>
                                    <input id="CustomerBirthDate" asp-for="Customer.CustomerBirthDate" class="form-control" />
                                    <span asp-validation-for="Customer.CustomerBirthDate" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="CustomerPhone">Phone</label>
                                    <input id="CustomerPhone" asp-for="Customer.CustomerPhone" class="form-control" />
                                    <span asp-validation-for="Customer.CustomerPhone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="CustomerAddress">Address</label>
                                    <input id="CustomerAddress" asp-for="Customer.CustomerAddress" class="form-control" />
                                    <span asp-validation-for="Customer.CustomerAddress" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="CustomerPoint">Point</label>
                                    <input id="CustomerPoint" asp-for="Customer.CustomerPoint" class="form-control" />
                                    <span asp-validation-for="Customer.CustomerPoint" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="RemoveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Delete">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Customer.CustomerId" id="CustomerIdRemove" />

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Remove Confirm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this customer?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function add() {
            $('#AddModal').modal('show');
        }

        function edit(customerId) {
            // Gui yeu cau Ajax de lay thong tin Customer
            $.ajax({
                url: '@Url.Page("Customer", "Update")',
                type: 'GET',
                data: { customerId: customerId },
                success: function (data) {
                    // Hien thi cac gia tri cua Customer trong Modal
                    $('#EditModal #CustomerId').val(data.customerId);
                    $('#EditModal #CustomerName').val(data.customerName);
                    $('#EditModal #CustomerBirthDate').val(data.customerBirthDate);
                    $('#EditModal #CustomerPhone').val(data.customerPhone);
                    $('#EditModal #CustomerAddress').val(data.customerAddress);
                    $('#EditModal #CustomerPoint').val(data.customerPoint);

                    // Open Modal
                    $('#EditModal').modal('show');
                }
            });
        }

        function remove(customerId) {
            document.getElementById('CustomerIdRemove').value = customerId;
            $('#RemoveModal').modal('show');
        }
    </script>
    <script type="text/javascript">
        function add() {
            $('#AddModal').modal('show');
        }

        function edit(customerId) {
            // Gui yeu cau Ajax de lay thong tin Customer
            $.ajax({
                url: '@Url.Page("Customer", "Update")',
                type: 'GET',
                data: { customerId: customerId },
                success: function (data) {
                    // Hien thi cac gia tri cua Customer trong Modal
                    $('#EditModal #CustomerId').val(data.customerId);
                    $('#EditModal #CustomerName').val(data.customerName);
                    $('#EditModal #CustomerBirthDate').val(data.customerBirthDate);
                    $('#EditModal #CustomerPhone').val(data.customerPhone);
                    $('#EditModal #CustomerAddress').val(data.customerAddress);
                    $('#EditModal #CustomerPoint').val(data.customerPoint);

                    // Open Modal
                    $('#EditModal').modal('show');
                }
            });
        }

        function remove(customerId) {
            document.getElementById('CustomerIdRemove').value = customerId;
            $('#RemoveModal').modal('show');
        }
    </script>
}