@page
@model JewelrySalesStoreRazorWebApp.Pages.CustomerPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div class="mt-3">
    <h3>Details Customer</h3>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerFirstName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerLastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerGender)
        </dt>
        <dd class="col-sm-10">
            @((Model.Customer.CustomerGender) ? "Nam" : "Nữ")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerBirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerBirthDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerPhone)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerEmail)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerAddress)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerPoint)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerPoint)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerVipStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerVipStatus)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Notes)
        </dd>

    </dl>


</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Customer.CustomerId">Edit</a> |
    <a style="text-decoration: none;" class="btn btn-secondary text-white" asp-page="./Index">Back</a>
</div>
