@page
@model JewelrySalesStoreRazorWebApp.Pages.OrderDetailPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.OrderDetailId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.OrderDetailId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.OrderId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.ProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.ProductId)                                               
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Quantity)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Product.Price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.TotalPrice)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.DiscountPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.DiscountPrice)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.FinalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.FinalPrice)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.IsActive)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Notes)
        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.OrderDetail.OrderDetailId">Edit</a> |
    <a style="text-decoration: none;" class="btn btn-secondary text-white" asp-page="./Index">Back</a>
</div>
