@page
@model JewelrySalesStoreRazorWebApp.Pages.OrderDetailPage.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

    if (ViewData["ShowNavBar"] == null)
    {
        ViewData["ShowNavBar"] = true;
    }
}

<h1>Order Detail</h1>

<div class="row mt-5">
    <div class="col-md-2">
        <p>
            <a class="btn btn-primary text-white" style="text-decoration:none;" asp-page="Create">Create New</a>
        </p>
    </div>
</div>

<form asp-page="./Index" method="get" class="row mt-3">
    <div class="form-check col-md-7 pt-2">
        <label style="margin-right: 19px">
            Search By Quantity:
        </label>
        <label>
            From
        </label>
        <input type="number" step="any" min=0 asp-for="MinQuantity" placeholder="0" />
        <label style="margin-left: 45px">
            To
        </label>
        <input type="number" step="any" min=0 asp-for="MaxQuantity" placeholder="0" />
    </div>

    <div class="form-check col-md-7 pt-2">
        <label style="margin-right: 19px">
            Search By Final Price:
        </label>
        <label>
            From
        </label>
        <input type="number" step="any" min=0 asp-for="MinFinalPrice" placeholder="0" />
        <label style="margin-left: 45px">
            To
        </label>
        <input type="number" step="any" min=0 asp-for="MaxFinalPrice" placeholder="0" />
    </div>

    <div class="form-check col-md-1 pt-2">
        <label class="form-check-label" for="isActiveCheckbox">
            Active
        </label>
        <input class="form-check-input" type="checkbox" asp-for="IsActive" />
    </div>

    <div class="form-check col-md-1 pt-2">
        <label class="form-check-label" for="isInactiveCheckbox">
            Inactive
        </label>
        <input class="form-check-input" type="checkbox" asp-for="IsInactive" />
    </div>

    <div class="form-check col-md-1 pt-1">
        <input class="btn btn-primary text-white" type="submit" value="Filter" />
    </div>
</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Product ID</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Total Price</th>
            <th scope="col">Discount Price</th>
            <th scope="col">Final Price</th>
            <th scope="col">Active</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetail)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OrderId)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductId)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.DiscountPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.FinalPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                <td>
                    <a class="btn btn-success text-white" style="text-decoration: none;" asp-page="./Edit" asp-route-id="@item.OrderDetailId">Edit</a> |
                    <a class="btn btn-secondary text-white" style="text-decoration: none;" asp-page="./Details" asp-route-id="@item.OrderDetailId">Details</a> |
                    <a class="btn btn-danger text-white" style="text-decoration: none;" asp-page="./Delete" asp-route-id="@item.OrderDetailId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example" class="d-flex justify-content-end">
    <ul class="pagination">
        <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageIndex="@(Model.PageIndex - 1)"
               asp-route-MinQuantity="@Model.MinQuantity" asp-route-MaxQuantity="@Model.MaxQuantity"
               asp-route-MinFinalPrice="@Model.MinFinalPrice" asp-route-MaxFinalPrice="@Model.MaxFinalPrice"
               asp-route-IsActive="@Model.IsActive" asp-route-IsInactive="@Model.IsInactive"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                <a class="page-link" asp-page="./Index" asp-route-PageIndex="@i"
                   asp-route-MinQuantity="@Model.MinQuantity" asp-route-MaxQuantity="@Model.MaxQuantity"
                   asp-route-MinFinalPrice="@Model.MinFinalPrice" asp-route-MaxFinalPrice="@Model.MaxFinalPrice"
                   asp-route-IsActive="@Model.IsActive" asp-route-IsInactive="@Model.IsInactive">@i</a>
            </li>
        }
        <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageIndex="@(Model.PageIndex + 1)"
               asp-route-MinQuantity="@Model.MinQuantity" asp-route-MaxQuantity="@Model.MaxQuantity"
               asp-route-MinFinalPrice="@Model.MinFinalPrice" asp-route-MaxFinalPrice="@Model.MaxFinalPrice"
               asp-route-IsActive="@Model.IsActive" asp-route-IsInactive="@Model.IsInactive"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#isActiveCheckbox').change(function () {
                $('form').submit();
            });

            $('#isInactiveCheckbox').change(function () {
                $('form').submit();
            });
        });
    </script>
}
